%h2 New Hunt street

= select_tag :hunt_id, options_from_collection_for_select(@hunts, "id", "name")
= add_button_tag "Add to Hunt", id: "submit_hunt_street_selection"

%table.table
  - @streets.each do |street|
    %tr
      %td
        = check_box :street_select_checkbox, street.id,
        {class: "street_checkbox", "data-street-id" => street.id}
      %td= street.name