.vertical_spacer
  %table.table.table-striped
    %tr
      %th Property Type
      %td=@property.property_type
    %tr
      %th Baths
      %td=@property.num_bathrooms
    %tr
      %th Floors
      %td=@property.num_floors
       