.vertical_spacer
  %table.table.table-striped
    %tr
      %th Target
      %td 
        %h3=@property.displayable_address
    %tr
      %th Price
      %td=number_to_currency(@property.price, :unit => "£", :precision => 0)
    -if @property_yield_max
      %tr
        %th Max Yield (%)
        %td=@property_yield_max
    %tr
      %th Beds
      %td=@property.num_bedrooms
    %tr
      %th Postal Area
      %td=@property.outcode
    %tr
      %th Listing
      %td=link_to 'Link', @property.details_url
    
       