.col-md-8
.col-md-4
  = add_button_tag "Add Checked to a Hunt", id: "submit_hunt_property_selection"
  = select_tag :hunt_id, options_from_collection_for_select(@hunts, "id", "name")

=render 'properties'

