

.col-md-6
  %table.table.table-striped
    %tr
      %th
        Target
      %td
        = @property.displayable_address
    %tr
      %th
        Price
      %td
        =number_to_currency(@property.price, :unit => "£", :precision => 0)
  .map#map-street
.col-md-1
.col-md-4
  .property-show.col-md-10
    - if @property.image_url?
      = image_tag @property.image_url
.col-md-12
 
  %h3 Go ahead, Select and Target Possible Comparables
  = add_button_tag "Add Checked as a Comparable", id: "add_comparable", data:{id: @property.id}
.col-md-12
  
:javascript
  window.street = #{@property.outcode.to_json}


 
  
=render 'properties'