=button_link_to 'Back', properties_path
%br
source:
= @property.source
%br

= @property.inspect

.col-md-8
.col-md-4
  = add_button_tag "Add Checked as a Comparable", id: "add_comparable", data:{id: @property.id}
  / # = select_tag :hunt_id, options_from_collection_for_select(@hunts, "id", "name")

=render 'properties'