%table.table.table-striped
  %tr
    %th Electricity
    %td=@hunt.electricity
  %tr
    %th Gas
    %td=@hunt.gas
  %tr
    %th Home owner association fees
    %td=@hunt.home_owner_association_fees
  %tr
    %th Insurance hazard
    %td=@hunt.insurance_hazard
  %tr
    %th Insurance mortgage
    %td=@hunt.insurance_mortgage
  %tr
    %th Landscape maintenance
    %td=@hunt.landscape_maintenance
  %tr
    %th Legal
    %td=@hunt.legal
  %tr
    %th Maintenance
    %td=@hunt.maintenance
  %tr
    %th Property management percent
    %td=@hunt.property_management_percent
  %tr
    %th Miscellaneous fee
    %td=@hunt.miscellaneous_fee
  %tr
    %th Permits
    %td=@hunt.permits
  %tr
    %th Pest termite control
    %td=@hunt.pest_termite_control
  %tr
    %th Phone
    %td=@hunt.phone
  %tr
    %th Postage
    %td=@hunt.postage
  %tr
    %th Referrals commissions
    %td=@hunt.referrals_commissions
  %tr
    %th Reserves
    %td=@hunt.reserves
  %tr
    %th Supplies maintenance
    %td=@hunt.supplies_maintenance
  %tr
    %th Supplies office
    %td=@hunt.supplies_office
  %tr
    %th Taxes property
    %td=@hunt.taxes_property
  %tr
    %th Warranties
    %td=@hunt.warranties
  %tr
    %th Water sewer
    %td=@hunt.water_sewer