%table.table.table-striped
  %tr
    %th name
    %th
  = @hunts_properties.inspect
  - @hunts_properties.each do |hunt|
    %tr  
      %td
        =hunt.hunt.name
        %ul
          - hunt.hunt.properties.each do |property|
            %li
              = property.inspect

