%table.table.table-striped
  %tr
    %th Hunt Name & List of Linked Properties
    %th
  - @hunts_properties.each do |hunt|
    %tr  
      %td
        =hunt.hunt.name
        %ul
          - hunt.hunt.properties.each do |property|
            %li
              = number_to_currency(property.price, :unit => "£", :precision => 0)
              .horizontal_spacer
              - if property.num_bedrooms
                = property.num_bedrooms
                Beds
              .horizontal_spacer
              = link_to property.displayable_address, property_path(property.id)

