%table.table.table-striped
  %tr
    %th Hunt Name & List of Linked Streets
    %th
  - @hunts_streets.each do |hunt|
    %tr  
      %td
        =hunt.hunt.name
        %ul
          - hunt.hunt.streets.each do |street|
            %li
              = street.postcode
              .horizontal_spacer
              -if street.name
                = street.name
              
      



