
%table.table.table-striped
  - @hunt.properties.each do |property|
    %tr
      %th
        test
      %td
        test
        = link_to property.details_url
    %tr
      %th
        adsfd
      %td
        asdfdsa

  