
ALL STREET HUNT RACE PLOT MAP IMAGE HERE - POSSIBLE COLORBOX

%table.table.table-striped
  %tr
    %th name
    %th
  = @hunts_steets.inspect
  - @hunts_streets.each do |hunt|
    %tr  
      %td
        =hunt.hunt.name
        %ul
          - hunt.hunt.streets.each do |street|
            %li
              = street.inspect
      %td
        THIS HUNT RACE MAP IMAGE HERE


