
ALL STREET HUNT RACE PLOT MAP IMAGE HERE - POSSIBLE COLORBOX

%table.table.table-striped
  %tr
    %th name
    %th
  = @hunts_streets.inspect
  - @hunts_streets.each do |hunt|
    %tr  
      %td.col-md-6
        =hunt.hunt.name
        %ul
          - hunt.hunt.streets.each do |street|
            %li
              = street.inspect
      %td.col-md-6
        #hunts-maps-street-list



