%table.table.table-striped
  %tr
    %th name
    %th
  - @hunts_properties.each do |hunt|
    %tr  
      %td
        =hunt.hunt.name
        %ul
          - hunt.hunt.properties.each do |property|
            %li
              = number_to_currency(property.price, :unit => "£", :precision => 0)
              - if property.num_bedrooms
                .horizontal_spacer
                = property.num_bedrooms
                Beds
              .horizontal_spacer
              = property.displayable_address

