%table.table.table-striped
  %tr
    %th Name
    %td=@hunt.name
  %tr
    %th Status
    %td=@hunt.status                     
  %tr
    %th Target location
    %td=@hunt.target_location
  %tr
    %th Goal
    %td=@hunt.goal
  %tr
    %th Aquisition Strategy
    %td=@hunt.aquisition_strategy  
  
