.col-md-8
.col-md-4
  = big_button_link_to 'Add Hunt', new_hunt_path

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#all_hunts"} All Hunts
  %li
    %a{"data-toggle" => "tab", href: "#hunt_properties"} Hunt Properties
  %li
    %a{"data-toggle" => "tab", href: "#hunt_streets"} Hunt Streets
.tab-content
  #all_hunts.tab-pane.active
    %table.table.table-striped
      %tr
        %th name
        %th
        
      - @hunts.each do |hunt|
        %tr  
          %td=hunt.name
          %td
            =button_group do
              =button_link_to "Show", hunt
              =button_link_to "Edit", edit_hunt_path(hunt)
              =negative_button_link_to "Destroy", hunt, :confirm => 'Are you sure?', :method => :delete
  #hunt_properties.tab-pane
    = render partial: "hunts_properties_table"
  #hunt_streets.tab-pane
    = render partial: "hunts_streets_table"




