.col-md-6
.col-md-6
  = form_tag add_by_url_hunt_path(@hunt), method: :post do 
    = url_field_tag :url
    = positive_button_submit_tag 'Add a Property URL'
%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#test"} All Hunts
  %li
    %a{"data-toggle" => "tab", href: "#tess"} All Hunts
.tab-content
  #test.tab-pane.active

  #tess.tab-pane


- @hunt.properties.each do |property|
  = link_to property.details_url

    

