=button_link_to 'Back', streets_path
%br
name:
= @street.name
%br

- if @street.postcode?
  postcode:
  = @street.postcode

= @street.inspect

- if @street.image_capture?
  = image_tag @street.image_capture.standard
