.menu-text{
  text-align: center;
}

.menu-item{
  background-color: silver;
  width: 80px;
  height: 80px;
  display: block;
  margin: 5px;
  
  &#hunts{
    background-image: image-url("hunt.svg");
  }

  &#properties{
    background-image: image-url("properties.svg");
  }

  &#streets{
    background-image: image-url("street.svg");
  }


  &.selected{
    background-color: green;
  }
}