.menu-item{
  background-color: silver;
  width: 70px;
  height: 70px;
  display: block;
  margin: 5px;
  
  &#hunts{
    background-image: image-url("hunt.svg");
  }
  &.selected{
    background-color: green;
  }
}